services:
  workspace:
    build:
      dockerfile: .devcontainer/dockerfile
      context: ..
    volumes:
      - ..:/workspace:cached
    working_dir: /workspace
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgres://devuser:devpass@database:5432/devdb?sslmode=disable
    command: sleep infinity

  database:
    image: docker.io/postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    ports:
      - "5432:5432"
    volumes:
      - ./tasks-server/.devcontainer/dbinit:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    depends_on:
      - database
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin-data:
